#foto{
  width:300%
  height:auto; 
}

  body{
        background-color:bisque;
        font-family:arial,helvetica,sans-erif;
  }
body{
  background-color:lightgreen;
  front-family:´times new roman´,times,serif;
  front-size:200%
  text-align:justify;
}

  
